:root {
    --universal-color: white;
    --universal-hover-color: rgb(255, 255, 0);
    --universal-active-color: greenyellow;
}

.icon-settings,
.colapse-btn,
.expand-btn,
.icon-camera {
    color: var(--universal-color);
    width: 100%;
    height: 100%;
}


