
.task-container {
    height: 70vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-list {
    height: 100%;
    border-bottom: 4px solid rgb(255, 255, 255);
    width: 100%;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.entry-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 73, 73);
    height: fit-content;
    justify-content: space-between;
    padding: 4px;
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    gap: 4px;
}

.entry-container:hover {
    background-color: rgb(125, 125, 125);
}

.entry-container.task-completed {
    background-color: rgba(0, 60, 0, 0.593);
}

.new-task-container {
    width: 100%;
    padding-inline: 8px;
}

.title-container {
    width: 100%;
    display: flex;
}



.new-task-input {
    font-size: large;
    width: 100%;
    border-radius: 50px;
    color: white;
    padding-block: 4px;
    padding-inline: 8px;
    outline: none;
    background-color: transparent;
    border: 1px solid white;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.new-task-input:focus-visible {
    border-color: rgb(173, 255, 47);
    background-color: white;
    color: black;
}

.new-task-input:focus-visible::placeholder {
    color: black;
}

.submit-btn {
    background-color: transparent;
    outline: none;
    color: white;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    font-size: large;
}

.submit-btn:hover {
    background-color: greenyellow;
    color: black;
}

/* Task Entry */

.inactive-complete-btn {
    min-height: 24px;
    min-width: 24px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: green;
}

.complete-btn,
.remove-btn {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    border: 1px solid black;
    transition: background-color 200ms ease-in-out;
}

.show-note-btn {
    height: 24px;
    width: 32px;
    padding: 0;
}

.show-note-btn:hover > .expand-btn,
.show-note-btn:hover > .colapse-btn {
    color: yellow;
}

.show-note-btn:active > .expand-btn,
.show-note-btn:active > .colapse-btn {
    color: green;
}

.show-note-btn > .expand-btn {
    width: 100%;
    height: 100%;
}

.complete-btn:hover {
    background-color: greenyellow;
}



.task-name {
    width: 100%;
    height: 24px;
}

.task-note {
    width: 100%;
    min-height: 24px;
    height: fit-content;
    break-inside: auto;
}

.name-edit {
    text-align: center;
    width: 100%;
}

.note-edit {
    text-align: center;
    width: 100%;
    height: fit-content;
    word-break: break-all;
    break-inside: auto;
}

.note-container {
    width: 100%;
    padding-inline: 16px;
}


.remove-btn {
    border: 1px solid black;
    color: white;
}

.remove-btn:hover {
    color: black;
    background-color: red;
}

.hidden {
    display: none !important;
}

  

