:root{
    --background-color: #181a1f;
}

.sidebar {
    width: 100%;
    background-color: var(--background-color);
}

.login-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 8px;
    padding-bottom: 4px;
    gap: 16px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.signout-btn {
    height: fit-content;
    width: fit-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding-inline: 8px;
    padding-block: 2px;
    transition: background-color 200ms ease-in-out;
}

.signout-btn:hover {
    background-color: greenyellow;
}

.user-name {
    width: auto;
}