:root {
    --btn_bg_color: transparent;
    --btn_bg_color_hover: transparent;
    --btn_bg_color_active: transparent;
    --btn_bg_color_disabled: transparent;
    --btn_text_color: rgb(255,255,255);
    --btn_text_color_hover: rgb(255,255,255);
    --btn_text_color_active: rgb(255,255,255);
    --btn_text_color_disabled: rgb(255,255,255);
    --btn_border_color: rgb(0, 0, 0);
    --btn_border_color_hover: rgb(0, 0, 0);
    --btn_border_color_active: rgb(0, 0, 0);
    --btn_border_color_disabled: rgb(0, 0, 0);

    --scrollbar_bg_color: transparent;
    --scrollbar_thumb_color: rgb(54, 131, 161);
    --scrollbar_thumb_color_hover: rgb(120, 198, 228);
    --scrollbar_thumb_color_active: rgb(120, 198, 161);

    --scrollbar_thumb_border_color: rgb(0, 0, 0);
    --scrollbar_thumb_border_color_hover: rgb(0, 0, 0);
    --scrollbar_thumb_border_color_active: rgb(0, 0, 0);

    --scrollbar_track_bg_color: rgb(55, 55, 55);
    --scrollbar_track_bg_color_hover: rgb(55, 55, 55);
    --scrollbar_track_bg_color_active: rgb(55, 55, 55);


    --scrollbar_track_border_color: rgb(0, 0, 0);
    --scrollbar_track_border_color_hover: rgb(0, 0, 0);
    --scrollbar_track_border_color_active: rgb(0, 0, 0);

    --entry_container_bg_color: rgb(73, 73, 73);
    --entry_container_bg_color_hover: rgb(125, 125, 125);
    --entry_container_bg_color_complete: rgb(0, 60, 0);

    --entry_container_border_color: rgb(0, 0, 0);
    --entry_container_border_color_hover: rgb(0, 0, 0);

    --entry_container_text_color: rgb(255, 255, 255);
    --entry_container_text_color_hover: rgb(255, 255, 255);
    --entry_container_text_color_complete: rgb(255, 255, 255);

    --input_background_color: transparent;
    --input_background_color_hover: transparent;
    --input_background_color_focus: rgb(255, 255, 255);

    --input_text_color: rgb(255, 255, 255);
    --input_text_color_hover: rgb(255, 255, 255);
    --input_text_color_focus: rgb(255, 255, 255);

    --input_border_color: rgb(0, 0, 0);
    --input_border_color_hover: rgb(0, 0, 0);
    --input_border_color_focus: rgb(0, 0, 0);



}
  